:root {
  --white: #ffffff;
  --font-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

/* reset  */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Hind Siliguri", sans-serif;
  max-width: 1980px;
  margin-inline: auto;
  color: #000;
  font-size: var(--font-sm);
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font-family: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  padding: 0;
}

.hidden {
  display: none;
}

nav,
footer,
section {
  width: 90%;
  margin-inline: auto;
}
