---
import Categories from "../components/Categories.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <Navbar />
  <main>
    <Hero />
    <Categories />
  </main>
</MainLayout>
