---
import categoriesData from "../data/categories";
---

<section>
  <div class="title">
    <h2>আপনার ক্যারিয়ার Goal</h2>
    <p>আপনার গোল সেট করে শুরু করুন আপনার ক্যারিয়ার গ্রোথ</p>
  </div>

  <div>
    {categoriesData.map((item) => <img src={item.img} />)}
  </div>
</section>
